/*-------------------GENERAL-------------------*/
body {
    font-family: 'Candara', sans-serif;
    margin: 0 !important;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, nav {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 2.21em;
    font-weight: 700;
}
h2 {
    font-size: 1.53em;
    margin: -5 0 0;
}
h3 {
    font-size: 1.4rem;
    margin: 0 0 1em 0;
}
h4 {
    font-size: 1.18rem;
    margin-bottom: 0.75rem;
}
strong {
    font-weight: 600;
}
ul {
    margin-top: 0;
}
img {
    width: 100%;
}

/*COLORS*/
body {
    background-color: #fff;
}
header {
    background-color: maroon;
    border-color: firebrick;
}

/*HEADER*/
header {
    float: left;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 5px 0 0 0;
}
#logo {
    text-align: center;
}

/*NAVIGATION*/
nav {
    padding: 10px 0;
}
.mobileNav {
    z-index: 10;
    position: relative;
    margin-left: 10px;
}
.navMenuIcon {
    width: 10%;
}
.navMenu {
    width: 50%;
    position: absolute;
    left: 0;
    padding: 7.5vh 10px 0;
    z-index: 9;
    display: none;
}
nav:hover .navMenu, nav:focus .navMenu, nav:active .navMenu, nav a:hover .navMenu, nav a:focus .navMenu, nav:active .navMenu, nav a:active .navMenu {
    display: initial;
}
@media (any-pointer: coarse) {
    nav:hover .navMenu, nav:focus .navMenu, nav:active .navMenu,  nav a:hover .navMenu, nav a:focus .navMenu, nav:active .navMenu, nav a:active .navMenu {
        display: initial;
    }
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
nav li {
    display: block;
}
nav a {
    font-size: 1.4rem;
    padding: 15px 10px 5px;
}

/*NAV MOBILE*/
nav {
    background-color: firebrick;
}
.navMenu {
    background-color: firebrick;
}

/*LOGO COLOR*/
h1, h2 {
    color: antiquewhite;
}

/*LINKS*/
a {
    color: firebrick;
    font-weight: 510;
}

nav a, nav a:visited {
    color: antiquewhite;
}
.selected {
    text-decoration: underline;
}

/*FOOTER*/
footer {
    text-align: center;
    font-size: 0.75em;
    padding: 50px 0 0 0;
    clear: both;
}
.social-icons {
    width: 20px;
    height: 20px;
    margin: 0;
}

/*---------------PORTFOLIO PAGE----------------*/
#gallery ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: antiquewhite;
    color: firebrick;
}
#gallery li p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
}

#gallery li p:nth-child(odd) {
    padding-top: 0px !important;
}

/*-----------------ABOUT PAGE------------------*/
.profile-pic {
    margin: 0 auto 30px;
    width: 100%;
    max-width: 250px;
    display: block;
    border-radius: 100%;
}

/*----------------CONTACT PAGE-----------------*/

.contact-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.contact-info a {
    display: block;
    min-height: 20px;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
    background-repeat: no-repeat;
}
.contact-info li.phone a {
    background-image: url("../img/phone.png");
}
.contact-info li.mail a {
    background-image: url("../img/mail.png");
}
.contact-info li.linkedin a {
    background-image: url("../img/linkedin.png");
}
.contact-info li.twitter a {
    background-image: url("../img/twitter.png");
}

/*-----------------RESUME PAGE-----------------*/
#resume ul:not(#skills ul, #resume ul ul) {
    list-style-type: none;
    padding-left: 0;
}
#resume ul li {
    margin-bottom: 10px;
}
